* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  background-color: #DDD;
}

#root{
  --bottomColor: #32465C;
}

.appContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .mainContainer {
    display: flex;
    flex-direction: column;
    border: 2px solid #777;
 
    .topSection {
      background: url(../../resources/images/weather.jpg) center no-repeat;
      background-color: rgba(0, 0, 0, 0.6);
      background-blend-mode: hue;
      background-size: cover;
      flex: 1 1 50%;
    }
  }
}

.btn {
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: rgb(100, 180, 200);
  cursor: pointer;

  &:hover {
    background-color: var(--bottomColor);
    color: #e9e9e9;
  }

  &:focus {
    outline: none;
  }
}

.popup-container {
  border-radius: 3px;
  background-color: white;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);

  .form-container {
    padding: 0.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 'inputCity inputCity' 'btnConfirm btnCancel';

    input {
      border: 1px solid rgba(16, 16, 16, 0.3);
      font-size: 0.8rem;
      outline:none;
      grid-area: inputCity;
      border-radius: 3px;
    }

    .btnLocationAccept{
      grid-area: btnConfirm;
      margin-top: 0.5rem;
    }

    .btnLocationCancel{
      grid-area: btnCancel;
      margin-top: 0.5rem;
    }
  }
}

.btnLocation{
  margin: 1rem 0px; 
}