.bottomSecion {
  flex: 1 1 50%;
  background: var(--bottomColor);
  overflow-y: overlay;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */ }

.bottomSecion ::-webkit-scrollbar {
  /* WebKit */
  width: 0px;
  height: 0px; }

.bottomSecion .bottomContainer {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  justify-content: center;
  align-items: center;
  margin: 1.5rem;
  max-width: 80vw; }

.bottomSecion .bottomContainer .dayContainer {
  color: #e9e9e9;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 3px;
  grid-template-areas: 'header header'  'forecastTopLeft forecastTopRight'         'forecastBottomLeft forecastBottomRight'; }

.bottomSecion .bottomContainer .dayContainer .dateForecast {
  font-size: 1rem; }

.bottomSecion .bottomContainer .dayContainer :first-child {
  grid-area: header;
  justify-self: center; }

.bottomSecion .bottomContainer .dayContainer :nth-child(4n+2) {
  grid-area: forecastTopLeft; }

.bottomSecion .bottomContainer .dayContainer :nth-child(4n+3) {
  grid-area: forecastTopRight; }

.bottomSecion .bottomContainer .dayContainer :nth-child(4n+4) {
  grid-area: forecastBottomLeft; }

.bottomSecion .bottomContainer .dayContainer :last-child {
  grid-area: forecastBottomRight; }

.wrapperDay {
  box-shadow: 0 1px 6px 0 rgba(240, 240, 240, 0.2);
  background-color: rgba(0, 0, 0, 0.05);
  padding-right: 0.5rem;
  border: solid 1px white;
  border-radius: 6px; }

.forecastHourContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.forecastHourContainer .wrapperTempTime {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.forecastHourContainer .imageWrapper {
  width: 2.5rem;
  height: 2.5rem; }

.forecastHourContainer .imageWrapper img {
  width: 100%;
  height: 100%; }

.forecastHourContainer .temperature {
  font-size: 1rem; }

.forecastHourContainer .time {
  font-size: 0.7rem; }
