.topContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  widows: 100%;
  justify-content: space-around; }

.weatherContainer {
  color: #e9e9e9; }

.weatherContainer .header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem; }

.weatherContainer .inner-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.weatherContainer .currentWeather {
  font-size: 2.5rem; }

.weatherContainer .footer {
  display: flex;
  justify-content: center;
  font-size: 1rem; }

.weatherContainer .imageWrapper {
  width: 3rem;
  height: 3rem; }

.weatherContainer .imageWrapper img {
  width: 100%;
  height: 100%; }
